@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	color: #e2e8f0;
}

.bg-gradient {
	background-color: hsla(240, 100%, 18%, 1);
	background-image: radial-gradient(
			at 14% 21%,
			hsla(204, 100%, 7%, 1) 0px,
			transparent 50%
		),
		radial-gradient(at 84% 88%, hsla(204, 100%, 7%, 1) 0px, transparent 50%),
		radial-gradient(at 75% 64%, rgb(13, 0, 36) 0px, transparent 50%),
		radial-gradient(at 73% 29%, rgb(36, 0, 22) 0px, transparent 50%),
		radial-gradient(at 29% 91%, rgb(36, 13, 0) 0px, transparent 50%),
		radial-gradient(at 92% 41%, rgb(34, 36, 0) 0px, transparent 50%),
		radial-gradient(at 66% 14%, rgb(16, 36, 0) 0px, transparent 50%),
		radial-gradient(at 9% 63%, rgb(0, 36, 6) 0px, transparent 50%),
		radial-gradient(at 98% 75%, rgb(0, 36, 31) 0px, transparent 50%),
		radial-gradient(at 45% 69%, hsla(204, 100%, 7%, 1) 0px, transparent 50%);
	background-size: 200% 200%;
	animation: gradientAnimation 30s ease infinite;
}

.bg-gradient:after {
	content: "";
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
	height: 400%;
	width: 400%;
	position: fixed;
	opacity: 0.05;
	animation: animateGrain 8s steps(10) infinite;
	pointer-events: none;
	z-index: -1;
}

.filter-e2e8f0 {
	filter: invert(32%) sepia(17%) saturate(707%) hue-rotate(176deg)
		brightness(40%) contrast(88%);
}

.active {
	color: #e2e8f0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@keyframes gradientAnimation {
	0%, 
	100% {
		background-position: 0% 25%;
		rotation: 0deg;
	}
	10% {
		background-position: 25% 25%;
		rotation: 45deg;
	}
	20% {
		background-position: 50% 25%;
		rotation: 90deg;
	}
	30% {
		background-position: 75% 25%;
		rotation: 135deg;
	}
	40% {
		background-position: 100% 50%;
		rotation: 180deg;
	}
	50% {
		background-position: 100% 100%;
		rotation: 225deg;
	}
	60% {
		background-position: 50% 50%;
		rotation: 270deg;
	}
	70% {
		background-position: 25% 50%;
		rotation: 315deg;
	}
	80% {
		background-position: 0% 75%;
		rotation: 360deg;
	}
	90% {
		background-position: 25% 75%;
		rotation: 405deg;
	}
}

@keyframes animateGrain {
	0%,
	100% {
		transform: translate(-5%, -5%);
	}
	10% {
		transform: translate(-5%, -10%);
	}
	20% {
		transform: translate(-15%, -20%);
	}
	30% {
		transform: translate(-5%, -10%);
	}
	40% {
		transform: translate(-15%, -20%);
	}
	50% {
		transform: translate(-5%, -10%);
	}
	60% {
		transform: translate(-15%, -20%);
	}
	70% {
		transform: translate(-5%, -10%);
	}
	80% {
		transform: translate(-15%, -20%);
	}
	90% {
		transform: translate(-5%, -10%);
	}
}
